<div class="container"><h1 class="title-f">Продукты<span class="line"></span></h1></div>
<div class="product-items">
    <div class="container">
        <div class="product-line cf">
            <h3 class="simple-h3">Управление складом</h3>
            <div class="product">
                <a class="product-pr product-storage prod-wide active">
                    <span class="prod-icon"></span>
                    <h4 class="prod-title">viad@tWMS</h4>
                    <p>Полнофункциональная WMS-система для комплексных автоматических и традиционных складов</p>
                </a>
                <div class="product-description" style="display: block;">
                    <h3 class="project-it-name">viad@tWMS</h3>
                    <p class="project-it-preamble">Полнофункциональная WMS-система для комплексных автоматических и традиционных складов.</p>
                    <p>Полностью и частично автоматизированные склады и дистрибуционные центры ставят высокие требования к системе управления складом.
                        Для обеспечения бесперебойной и слаженной работы без потерь времени все процессы будут рассчитаны заранее.
                        При этом необходимо обеспечить определенный уровень гибкости для ввода и быстрой, надежной обработки срочных заказов — вне
                        зависимости от различных видов комиссионирования, которые необходимы в логистическом центре.
                    </p>
                </div><!--/product-description-->
            </div><!--/product-->
            <div class="product-links">
                <a class="product-pr prod-part">
                    <h4 class="prod-title">viad@tONE</h4>
                    <p>Предварительно сконфигурированная система для&nbsp;простых автоматизированных складов</p>

                </a>

                <a class="product-pr prod-part">
                    <h4 class="prod-title">viad@tCLM</h4>
                    <p>Управление автоматизированным участком склада при имеющейся WMS</p>

                </a>

                <a class="product-pr prod-part last">
                    <h4 class="prod-title">viad@RTFM</h4>
                    <p>Решение для радиоуправляемого склада, обслуживаемого вручную или погрузчиками</p>
                </a>
                <div class="product-description">
                </div><!--/product-description-->
                <div class="product-description">
                </div><!--/product-description-->
                <div class="product-description">
                </div><!--/product-description-->
            </div><!--/product-links-->
        </div><!--/product-line-->

        <div class="product-line cf">
            <h3 class="simple-h3">Специализированные логистические решения</h3>
            <div class="product-links cf">
                <a class="product-pr product-single product-mfc">
                    <span class="prod-icon"></span>
                    <h4 class="prod-title">viad@tMFC</h4>
                    <p>Интеллектуальная система управления материальными потоками</p>

                </a>
                <a class="product-pr product-single product-visu">
                    <span class="prod-icon"></span>
                    <h4 class="prod-title">viad@tVISU</h4>
                    <p>Генерирует обширную статистическую сводку системы распознавание и устранение ошибок</p>
                </a>
                <a class="product-pr product-single product-ccs last">
                    <span class="prod-icon"></span>
                    <h4 class="prod-title">viad@tCCS</h4>
                    <p>Эффективное управление <nobr>подъемно-транспортным</nobr> оборудованием</p>
                </a>
            </div><!--/product-links-->
            <div class="product-description">
            </div><!--/product-description-->
            <div class="product-description">
            </div><!--/product-description-->
            <div class="product-description">
            </div><!--/product-description-->
        </div><!--/product-line-->

        <div class="product-line cf">
            <h3 class="simple-h3">SAP Logistics Solutions</h3>
            <div class="product">
                <a class="product-pr product-sap prod-wide">
                    <span class="prod-icon"></span>
                    <h4 class="prod-title">SAP Logistics Solutions</h4>
                    <p>Система управления цепочками поставок от SAP (SCM). Комплексное решение для построения логистических сетей с добавленной
                        стоимостью, в которых все Ваши клиенты, поставщики, производители и поставщики услуг интегрируются в один информационный поток. </p>
                    
                </a>
                <div class="product-description">
                </div><!--/product-description-->
            </div><!--/product-->
        </div><!--/product-line-->
    </div>
</div>