.banner {
    display: none;
    height: 1125px;
    position: relative;
    overflow: hidden;
}
.banner.simple-page-banner {
    height: 180px;
}

.back-img {
    position: absolute;
    width: 100%;
}
.back-img img {
    width: 100%;
}

.banner-content {
    position: relative;
    padding-top: 170px;
    width: 960px;
}
.banner-logo {
	float: left;
}
.banner-text-box {
	float: left;
	background: #fff;
	font-size: 18px;
	width: 545px;
	display: none;
}
.banner-text-box ul {
	padding-left: 20px;
    list-style-image: url(../images/list-point.gif);
}
.banner-text-box li {
	padding-bottom: 15px;
}
.banner-text {
	padding: 35px 40px 25px;
}

/*------*/

.banner-layout {
    background-color: #f4f4f4;
    padding: 20px 30px;
    padding-top: 50px;
    position: relative;
}

.banner-header {
    position: relative;
    width: 300px;
    height: 80px;
    background-color: #ffffff;
    top: -88px;
    margin: 0 auto;
    box-shadow: 0px 1px 3px #7E7D7D;
}

.banner-inner-content {
    margin-top: -50px;
}

.banner-inner-content .banner-title {
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
}

.banner-brand{
    position: relative;
    z-index: 8;
    height: 100%;
    box-shadow: 0px 1px 2px #E9E9E9;
}

.banner-brand img{
    width: 56%;
    margin-left: 71px;
    margin-top: 13px;
}

.corner-banner-left{
    background-image: url(../images/corners-header-home.png);
    background-repeat: no-repeat;
    background-position: 4px -25px;
    position: absolute;
    z-index: 6;
    width: 40px;
    height: 40px;
    left: -39px;
    top: 0;
}

.corner-banner-right{
    background-image: url(../images/corners-header-home.png);
    background-repeat: no-repeat;
    background-position: -215px -25px;
    position: absolute;
    z-index: 6;
    width: 40px;
    height: 40px;
    top: 0;
    right: -41px;
}

.img-banner-ic {
    background-image: url(../images/home-header-icons.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    vertical-align: top;
    display: inline-block;
}

.img-banner-ic.icon-f {
    background-position: -15px -16px;
}

.img-banner-ic.icon-s {
    background-position: -10px -186px;
}

.img-banner-ic.icon-t {
    background-position: -15px -354px;
}

.img-banner-ic.icon-fo {
    background-position: -15px -535px;
}

.img-banner-ic.icon-fi {
    background-position: -15px -671px;
}

.img-banner-ic.icon-si {
    background-position: -15px -804px;
}

.banner-inner-content .row {
    margin-bottom: 50px;
}

.banner-inner-content .col {
    display: inline-block;
    margin-right: 4%;
}

.content-banner-ic {
    display: inline-block;
    vertical-align: top;
}

.content-banner-ic h4 {
    font-size: 20px;
    color: #434334;
    width: 322px;
    margin-bottom: 15px;
}

.content-banner-ic p {
    width: 300px;
    font-size: 15px;
}




