.banner {
	height: 550px;
	position: relative;
	overflow: hidden;
}
.back-img {
	position: absolute;
}
.banner-content {
	position: relative;
	padding-top: 140px;
}
.banner-logo {
	float: left;
}
.banner-text-box {
	float: left;
	background: #fff;
	font-size: 18px;
	width: 545px;
	display: none;
}
.banner-text-box ul {
	padding-left: 20px;
}
.banner-text-box li {
	padding-bottom: 15px;
}
.banner-text {
	padding: 35px 40px 25px;
}
