.clear {
	clear:both;
	height:0px;
	width:0px;
	line-height:0px;
	font-size:0px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

.mobilesOnly {display: none; }

.btn {
	height: 42px;
	padding: 0 20px;
	border: 0 none;
	line-height: 42px;
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	font-family: inherit;
	color: #ffffff;
	background: #0054a6;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
}
.btn:hover {
	background: #000000;
}
.separator {
	border-bottom: 1px dashed #cccccc;
	margin-bottom: 20px;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6e6e6e;
    background: #ffffff;
}
a {
    color: #ea8026;
    text-decoration: none;
}
a:hover {
    color: #000000;
}

/* FORM ELEMENTS -------------------------------- */
input[type=text], input[type=email], input[type=password], textarea {
    font-size:14px;
    background:#FFF;
    border: 1px solid #cccccc;
    font-family: 'Open Sans', sans-serif;
    color: #6e6e6e;
    font-weight: 400;
}

input[type=text]::-ms-clear {
    display: none;
}

label, select {
    font-size:14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #6e6e6e;
}
/* TITLES ----------------------------------------- */
.title-f {
    font-size: 42px;
    line-height: 42px;
    font-weight: 300;
    margin: 0;
    padding: 0 0 30px;
    color: #6e6e6e;
    text-align: center;
}
.title-f .line {
    width: 20px;
    display:inline-block;
    border-bottom: 2px solid #0054a6;
}
/* BLOCKS ---------------------------------------- */
.item {
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.last{
    margin-right: 0 !important;
}
