.content-box {
    padding: 35px 70px;
}
.item {
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    padding: 70px 0;
    border-bottom: 1px dashed #cccccc;
}
.item:last-child, .item.item-last  {
    border-bottom: 0 none;
}
.left-col {
    width: 300px;
    margin-right: 40px;
    float: left;
}
.left-img-box {
    margin-bottom: 30px;
}
.left-img-box img {
    width: 100%;
}
.content-box p {
    padding: 0 0 15px;
}
.content-box ul {
    padding: 0 0 15px 20px;
}
.main-col {
    overflow: hidden;
}
.links-box {
    clear: both;
}
.links-box .simple-h3 {
    font-size: 24px;
}
.links-box a {
    color: #ea8026;
    display: block;
    padding-bottom: 6px;
    text-decoration: underline;
}
.links-box a:hover {
    color: #6e6e6e;
}
.links-col {
    width: 28%;
    padding-right: 2%;
    float: left;
}

/*-------------------- PRODUCTS ----------------------------------- */
.product-line {
    padding: 30px 0;
}
.product {
    font-size: 14px;
    line-height: 18px;
}
.product-pr {
    display: block;
    background: #e9e9e9;
    color: #6e6e6e;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
}
.product-pr.product-single {
    width: 260px;
    height: 192px;
    float: left;
    text-align: center;
    margin-right: 30px;
}
.product-pr.prod-wide {
    overflow: hidden;
}
.product-pr.prod-part {
    width: 278px;
    height: 142px;
    float: left;
    text-align: center;
    margin-right: 6px;
    margin-top: 6px;
}
.product-pr:hover {
    border: 2px solid #ea8128;
    padding: 8px 18px;
}
.product-pr.last {
    margin-right: 0;
}
.product-single .prod-icon {
    display: block;
    width: 60px;
    height: 60px;
    margin: 3px auto 7px;
    background: url(../images/products-ic.png) no-repeat center top;
}
.product-mfc .prod-icon {
    background-position: center 8px;
}
.product-visu .prod-icon {
    background-position: center -74px;
}
.product-ccs .prod-icon {
    background-position: center -150px;
}
.prod-title {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #ea8026;
    padding: 0 0 12px;
}
.product-pr p {
    position: relative;
}
.product-pr:hover p:after {
    display: inline;
    content: '>';
    position: absolute;
    color: #ea8026;
    font-size: 18px;
    font-weight: bold;
    margin-left: 8px;
    bottom: -3px;
}
.product-description {
    display: none;
    padding: 30px 0 50px;
}
.product-description .project-it-name {
    padding: 0 0 15px;
}
.product-description .project-it-preamble {
    font-weight: bold;
    padding-bottom: 20px;
}

.prod-wide .prod-icon {
    display: block;
    width: 200px;
    float: left;
    margin: 15px 20px 15px 0;
}
.product-storage .prod-icon {
    background: url(../images/prod-warehouse-ic.png) no-repeat center 0;
    height: 68px;
}
.product-sap .prod-icon {
    background: url(../images/sap-partner.png) no-repeat 5px 0;
    height: 110px;
}
.prod-wide .prod-title, .prod-part .prod-title {
    margin-top: 20px;
}
.product-pr.prod-wide:hover p:after {
    bottom: 0;
}

.product-pr.active::after {
    content: '';
    position: absolute;
    left: 120px; bottom: 0px;
    border: 12px solid transparent;
    border-bottom: 12px solid #FFFFFF;
}
.product-pr.active {
    cursor: default;
}
.product-pr.active:hover {
    border: 0 none;
    padding: 10px 20px;
    color: #6e6e6e;
}
.product-pr.active .prod-title {
    color: #0054a6;
}
.product-pr.active:hover p:after {display: none;}


@media (min-width: 1200px) {
    .product-pr.product-single {
        width: 340px;
    }
    .product-pr.prod-part {
        width: 356px;
    }


}