.container {
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
	padding:0 20px;
}
.main-content {
    padding-top: 170px;
}

.main-content.home-content {
	padding-top: 60px;
}
.boxed {
	padding-bottom: 130px;
}