@media (min-width: 1200px) {
    .product-pr.product-single {
        width: 340px;
    }
    .product-pr.prod-part {
        width: 356px;
    }
    .contacts-page .product-pr.product-single {
        width: 477px;
    }
    .banner-text-box {
        float: right;
        display: block !important;
    }
    .info-box img.large {
        display: block;
    }

    .info-box img.small {
        display: none;
    }

}
