@charset "utf-8";



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
   html {
      -webkit-text-size-adjust: none;
   }
	 

	 .contact-info span.contact-tel { display: none; }
	 .contact-info .mobilesOnly {display: block; }

	 input {
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
		}
   
}

@media screen and (max-device-width : 1024px){

	input {
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
	}
	



}


