<div class="container"><h2 class="title-f">О нас<span class="line"></span></h2></div>
<div class="item about-item">
    <div class="container">
        <h3 class="project-it-name about-title">viastore systems</h3>
        <div class="cf">
            <div class="project-it-img">
                <img src="resources/images/upload/pr-viastore.jpg" alt="viastore systems" />
                <div class="project-it-logo"><img src="resources/images/logo-viastore-about.png" alt="viastore systems" /></div>
            </div>
            <div class="project-it-text"><p><a href="http://www.viastore.ru/" target="_blank">viastore systems</a> занимает ведущие позиции на мир
                овом рынке готовых под ключ систем автоматических складов
                и дистрибуционных центров, программного обеспечения для систем управления складами, управления системой движения материалов и
                кранами-штабелёрами многоярусных складов.</p>

                <p>viastore является сертифицированным партнером таких поставщиков систем ERP, банков данных и операционных систем как SAP, Oracle,
                    Microsoft и тесно сотрудничает с ними.</p>
            </div>
        </div>
    </div>
</div>
<div class="item about-item">
    <div class="container">
        <h3 class="project-it-name about-title">First Line software </h3>
        <div class="cf">
            <div class="project-it-img">
                <img src="resources/images/upload/pr-fls.jpg" alt="First Line software" />
                <div class="project-it-logo"><img src="resources/images/logo-fls-about.png" alt="First Line software" /></div>
            </div>
            <div class="project-it-text"><p>Компания <a href="http://www.firstlinesoftware.ru/" target="_blank">First Line software</a> предоставляет услуги по
                разработке, тестированию, внедрению и сопровождению программных решений для российского и мирового рынка.</p>

                <p>Наша команда занимается <a href="http://www.firstlinesoftware.ru/services/software-development/" target="_blank">разработкой
                    программного обеспечения</a> на заказ уже более 15 лет. Мы одними из первых в России начали развивать направление
                    аутсорсинга разработки ПО. На счету у наших специалистов — сотни успешно выполненных проектов всех уровней сложности для таких
                    ведущих международных компаний, как Intel, IBM, T-Mobile, CSC, Borland и других. Накопленный нами опыт работы с самыми
                    требовательными международными заказчиками — залог высочайшего качества наших услуг.</p>
                <p>Компания First Line насчитывает более 350 специалистов и имеет центры разработки и поддержки ПО в Санкт-Петербурге, Москве
                    и Нижнем Новгороде. В число наших <a href="http://www.firstlinesoftware.ru/clients/our-clients/" target="_blank">заказчиков</a> входят инновационные
                                              технологические компании, лидеры различных отраслей, а также государственные предприятия.</p>
            </div>
        </div>
    </div>
</div>
