<div class="back-img"><img src="resources/images/banner.jpg" alt="viastore" /></div>
      <div class="banner-content container cf">
          <div class="banner-logo"><h1><a href="#"><img src="resources/images/logo-viastore.png" alt="viastore systems" /></a></h1></div>
          <div class="banner-text-box"><div class="banner-text">
              <ul>
                  <li>полная функциональность интралогистики в&nbsp;стандарте</li>
                  <li>интеграция со всеми ERP, включая SAP</li>
                  <li>мультиплатформенность: Oracle, MS SQL Server, DB2/6000</li>
                  <li>объем поставки содержит исходный код</li>
                  <li>поддержка всех технологий: бумажная, штрих-кодирование, RFID, голоc</li>
                  <li>независимость от ОС: Windows, Linux, AIX… </li>
              </ul>
          </div></div><!--/banner-text-box-->
      </div>