<div class="boxed">
    <header class="main-header"></header>

    <div class="banner"></div>

    <nav class="add-nav-panel">
        <ul class="add-nav">
            <li><a href="#" class="add-nav-item item-auto"><span>Автомобильная&nbsp;техника и&nbsp;коммерческий&nbsp;транспорт</span></a></li>
            <li><a href="#" class="add-nav-item item-building"><span>Строительство</span></a></li>
            <li><a href="#" class="add-nav-item item-chemistry"><span>Химия</span></a></li>
            <li><a href="#" class="add-nav-item item-spares"><span>Сбыт&nbsp;запасных&nbsp;частей</span></a></li>
            <li><a href="#" class="add-nav-item item-food"><span>Еда&nbsp;и&nbsp;напитки</span></a></li>
            <li><a href="#" class="add-nav-item item-ecommerce"><span>Торговля&nbsp;и&nbsp;электронная коммерция</span></a></li>
            <li><a href="#" class="add-nav-item item-health"><span>Здравоохранение</span></a></li>
            <li><a href="#" class="add-nav-item item-industry"><span>Промышленность</span></a></li>
            <li><a href="#" class="add-nav-item item-goods"><span>Потребительские товары</span></a></li>
            <li><a href="#" class="add-nav-item item-logistics"><span>Поставщик&nbsp;услуг в&nbsp;сфере&nbsp;логистики</span></a></li>
            <li><a href="#" class="add-nav-item item-temperature"><span>Склады&nbsp;с&nbsp;контролируемой&nbsp;температурой, склады&nbsp;глубокой&nbsp;заморозки</span></a></li>
            <li><a href="#" class="add-nav-item item-other"><span>Другие сферы</span></a></li>
        </ul>
        <a href="add-nav-arrow move-top"></a>
        <a href="add-nav-arrow move-bottom"></a>
    </nav><!--/add-nav-panel-->

    <section class="main-content"></section>

    <footer class="main-footer"></footer>
</div>