<div class="boxed">
    <header class="main-header"></header>

    <div class="banner"></div>

    <section class="main-content home-content"></section>

    <footer class="main-footer"></footer>
</div>