<div class="boxed">
    <header class="main-header"></header>

    <div class="banner"></div>

    <nav class="add-nav-panel">
        <ul class="add-nav">
            <li><a href="#" class="add-nav-item item-auto active"><span class="nav-tip"><span>Автомобильная&nbsp;техника
                и&nbsp;коммерческий&nbsp;транспорт</span><i></i></span></a></li>
            <li><a href="#" class="add-nav-item item-building"><span class="nav-tip"><span>Строительство</span><i></i></span></a></li>
            <li><a href="#" class="add-nav-item item-chemistry"><span class="nav-tip"><span>Химия</span><i></i></span></a></li>
            <li><a href="#" class="add-nav-item item-spares"><span class="nav-tip"><span>Сбыт&nbsp;запасных&nbsp;частей</span><i></i></span></a></li>
            <li><a href="#" class="add-nav-item item-food"><span class="nav-tip"><span>Еда&nbsp;и&nbsp;напитки</span><i></i></span></a></li>
            <li><a href="#" class="add-nav-item item-ecommerce"><span class="nav-tip"><span>Торговля&nbsp;и&nbsp;электронная коммерция</span></a></li>
            <li><a href="#" class="add-nav-item item-health"><span class="nav-tip"><span>Здравоохранение</span><i></i></span></a></li>
            <li><a href="#" class="add-nav-item item-industry"><span class="nav-tip"><span>Промышленность</span><i></i></span></a></li>
            <li><a href="#" class="add-nav-item item-goods"><span class="nav-tip"><span>Потребительские товары</span><i></i></span></a></li>
            <li><a href="#" class="add-nav-item item-logistics"><span class="nav-tip"><span>Поставщик&nbsp;услуг в&nbsp;сфере&nbsp;логистики</span><i></i></span></a></li>
            <li><a href="#" class="add-nav-item item-temperature"><span class="nav-tip"><span>Склады&nbsp;с&nbsp;контролируемой&nbsp;температурой, склады&nbsp;глубокой&nbsp;заморозки</span><i></i></span></a></li>
            <li><a href="#" class="add-nav-item item-other"><span class="nav-tip"><span>Другие&nbsp;сферы</span><i></i></span></a></li>
        </ul>
        <a href="#" class="add-nav-arrow move-top">Вверх</a>
        <a href="#" class="add-nav-arrow move-bottom">Вниз</a>
    </nav><!--/add-nav-panel-->

    <section class="main-content"></section>

    <footer class="main-footer"></footer>
</div>