<div class="container cf">
    <div class="logo">
        <a href="/">
            <img src="{{brand}}" width="159" height="70" alt="First Line Software" />
        </a>
    </div>
    <nav class="main-nav">
        {{> header/navigation}}
    </nav>
</div>