      <div class="banner-content container cf">
          <div class="banner-layout">
              <div class="banner-header">
                  <div class="banner-brand">
                      <img src="../../resources/images/via-.png"/>
                  </div>
              </div>
              <div class="banner-inner-content">
                  <h1 class="banner-title">Системы внутренней логистики под ключ</h1>
                  <div class="row">
                      <div class="col">
                          <div class="img-banner-ic icon-f"></div>
                          <div class="content-banner-ic">
                              <h4>Полная функциональности интралогии в стандарте</h4>
                              <p>
                                  viad@t является эффективным
                                  и надежным программным обеспечением для управления всей Вашей внутренней логистикой. Система подходит как для небольших складов с малым уровнем товарооборота, так и для дистрибуционных центров с оборотом в тысячи наименований товаров в день.
                              </p>
                          </div>
                      </div>
                      <div class="col last">
                          <div class="img-banner-ic icon-fo"></div>
                          <div class="content-banner-ic">
                              <h4>Поддержка всех актуальных технологии комиссионирования и управления</h4>
                              <ul>
                                  <li>комиссионирование "товар к человеку"</li>
                                  <li>комиссионирование "человек к товару"</li>
                                  <li>Pick-to-light</li>
                                  <li>Pick-by-light</li>
                                  <li>Pick-by-voice</li>
                                  <li>HPPS</li>
                                  <li>автоматическое комиссионирование</li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <div class="img-banner-ic icon-s"></div>
                          <div class="content-banner-ic">
                              <h4>Интеграция со всеми ERP</h4>
                              <p>
                                  Архитектура системы обеспечивает полную интеграцию с любой ERP (SAP, Oracle, Ax/Nav и др.) и обмен данными с ERP в режиме реального времени.
                              </p>
                          </div>
                      </div>
                      <div class="col last">
                          <div class="img-banner-ic icon-fi"></div>
                          <div class="content-banner-ic">
                              <h4>Интеграция с автоматическим оборудованиям</h4>
                              <p>
                                  Система имеет широкую интеграцию
                                  с автоматизированным складским оборудованием и позволяет создать склад-автомат из "коробки".
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <div class="img-banner-ic icon-t"></div>
                          <div class="content-banner-ic">
                              <h4>Мультиплатформенность</h4>
                              <p>
                                  Работайте с теми инфраструктурными системами, которые используются в Вашей компании. viad@t работает с любыми базами данных (Oracle, MS SQL Server, DB2/6000) и имеет версии клиентского ПО для всех популярных ОС (Windows, Linux, AIX…)
                              </p>
                          </div>
                      </div>
                      <div class="col last">
                          <div class="img-banner-ic icon-si"></div>
                          <div class="content-banner-ic">
                              <h4>Объем поставки содержит исходный код</h4>
                              <p>
                                  Вы не зависите от поставщика решения, модификация системы возможна в любой момент. Продукт создан с использованием языка программирования C++.
                              </p>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>