<div class="container">
    <div class="footer-top cf">
        <div class="footer-contacts">
            {{>footer/contacts}}
        </div>
        <div class="social">
            {{>footer/social}}
        </div>
    </div><!--/footer-top-->
    <div class="footer-bottom"><p>© <a href="http://www.firstlinesoftware.ru/" target="_blank">First Line Software.</a> All Rights Reserved</p></
    div>
</div>
