<div class="boxed">
    <header class="main-header"></header>

    <div class="banner"></div>

    <nav class="add-nav-panel" data-offset="100"></nav>

    <section class="main-content"></section>

    <footer class="main-footer"></footer>
</div>
