<div class="banner error-page-msg" style="display: block;">      <div class="banner-content container cf">
    <div class="banner-layout">
        <div class="banner-inner-content">
            <h1 class="banner-title"><span class="error-code">404</span> страница не найдена</h1>
            <div class="error-page-text">
                <p>Вам попалась неправильная ссылка.</p>
                <p><a href="/">Вернитесь на главную страницу</a>  или <a href="mailto:sales@firstlinesoftware.com">напишите нам.</a></p>
            </div>

        </div>
    </div>
</div>
</div>
