<div class="banner error-page-msg" style="display: block;">      <div class="banner-content container cf">
    <div class="banner-layout">
        <div class="banner-inner-content">
            <h1 class="banner-title"><span class="error-code">500</span> ошибка сервера</h1>
            <div class="error-page-text">
                <p>К сожалению, у нас что-то сломалось. Мы активно работаем, чтобы исправить это.</p>
                <p><a href="#">Попробовать снова</a></p>
            </div>

        </div>
    </div>
</div>
</div>