<a href="#"><i class="social_icon-twitter s-14"></i></a>
<a href="#"><i class="social_icon-facebook s-18"></i></a>
<a href="#"><i class="social_icon-dribbble s-18"></i></a>
<a href="#"><i class="social_icon-gplus s-18"></i></a>
<a href="#"><i class="social_icon-pinterest s-18"></i></a>
<a href="#"><i class="social_icon-youtube s-18"></i></a>
<a href="#"><i class="social_icon-rss s-18"></i></a>