<a href="https://twitter.com/#!/NewsFirstLine"><i class="social_icon-twitter s-14"></i></a>
<a href="http://www.facebook.com/firstlinesoftware"><i class="social_icon-facebook s-18"></i></a>
<a href="http://www.linkedin.com/company/first-line-software-inc"><i class="social_icon-dribbble s-18"></i></a>
<a href="https://plus.google.com/106592719687853704803"><i class="social_icon-gplus s-18"></i></a>
<a href="http://www.firstlinesoftware.ru/feed/"><i class="social_icon-pinterest s-18"></i></a>
<a href="#"><i class="social_icon-youtube s-18"></i></a>
<a href="#"><i class="social_icon-rss s-18"></i></a>
