<div class="brand">
    <h1>{ADMIN PANEL}</h1>
    <small>Forgot</small>
</div>
<div id="form" class="form-admin">
    <form>
        <input id="email" name="email" type="text" placeholder="Enter your email"/>
        <input id="remind" name="remind" type="button" value="REMIND"/>
        <div>
            <a href="#register">Register</a>
            <a href="#login">login</a>
        </div>
    </form>
</div>