 <form>
      <input id="name" name="name" type="text" placeholder="Enter your login"/>
      <input id="password" name="password" type="password" placeholder="Enter your password"/>
      <input id="signin" name="signin" type="button" value="Sign in"/>
  </form>
