<div class="brand">
    <h1>{ADMIN PANEL}</h1>
    <small>Register</small>
</div>
<div id="form" class="form-admin">
    <form>
        <input id="login" name="login" type="text" placeholder="Enter your login"/>
        <input id="password" name="password" type="password" placeholder="Enter your password"/>
        <input id="signin" name="signin" type="button" value="Sign in"/>
    </form>

    <div>
        <a href="#login">Login</a>
        <a href="#forgot">Forgot</a>
    </div>
</div>