<form>
    <input id="login" name="login" type="text" placeholder="Enter your login"/>
    <input id="email" name="email" type="text" placeholder="Enter your email"/>
    <input id="repeatEmail" name="repeatEmail" type="text" placeholder="Repeat your email"/>
    <input id="password" name="password" type="password" placeholder="Enter your password"/>
    <input id="repeatPassword" name="repeatPassword" type="password" placeholder="Repeat password"/>
    <input id="signup" name="signup" type="button" value="Sign up"/>
</form>