@import "../reset.css";

.admin-page .navigation-top {
    background-color: #5FBDF1;
    color: transparent;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #fcfcfc;
    display: block;
}

.navigation-top ul{
    list-style-type: none;
    text-align: center;

}
.navigation-top li{
    display: inline-block;
}

.navigation-top li a {
    display: inline-block;
    text-decoration: none;
    padding: 15px 20px;
    color: transparent;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 0 0 2px #fcfcfc;
    -webkit-transition:all 0.5s ease;
}

.navigation-top li a:hover{
    background-color: #4677f1;
    color:#fcfcfc;
    text-shadow: 0 0 1px #ffffff;
    cursor: pointer;
}

.admin-page .brand {
    text-align: center;
}

.brand h1 {
    font-family: sans-serif;
    color: #636363;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-top: 10px;
}


.user-account .wrap-user-pic {
    position: relative;
    top: 18px;
    left: 37px;

    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 40px;
}

.wrap-user-pic img {
    width: 100%;
}


/*admin*/

.admin-page header > div {
    display: inline-block;
    vertical-align: top;
}

.user-account {
    float: right;
}

.user-account > * {
    display: inline-block;
    vertical-align: top;
}

.user-account .user-name {
    position: relative;
    font-family: sans-serif;
    top: 28px;
    font-size: 21px;
    left: 30px;
    color: #727272;
}

.user-account .exit {
    color: #FFFFFF;
    font-size: 20px;
    font-family: sans-serif;
    position: relative;
    top: 70px;
    right: 20px;
    cursor: pointer;
}

.user-account .exit:hover{
    text-decoration: underline;
}







