<a class="mobilesOnly">Меню</a>
<ul class="nav-list">
    <li><a href="#home" class="nav-list-item active" data-title="Главная">Главная</a></li>
    <li><a href="#about" class="nav-list-item" data-title="О нас">О нас</a></li>
    <li><a href="#solutions" class="nav-list-item" data-title="Решения">Решения</a></li>
    <li><a href="#products" class="nav-list-item" data-title="Продукты">Продукты</a></li>
    <li><a href="#service" class="nav-list-item" data-title="Услуги">Услуги</a></li>
    <li><a href="#contacts" class="nav-list-item" data-title="Контакты">Контакты</a></li>
</ul>