<a class="mobilesOnly">Меню</a>
<ul class="nav-list">
    <li><a href="#index" class="nav-list-item active">Главная</a></li>
    <li><a href="#about" class="nav-list-item">О нас</a></li>
    <li><a href="#solutions" class="nav-list-item">Решения</a></li>
    <li><a href="#product" class="nav-list-item">Продукты</a></li>
    <li><a href="#service" class="nav-list-item">Услуги</a></li>
    <li><a href="#contact" class="nav-list-item">Контакты</a></li>
</ul>