<div class="product-line cf">
<h3 class="simple-h3">Управление складом</h3>
<div class="product">
<a class="product-pr product-storage prod-wide">
    <span class="prod-icon"></span>
    <h4 class="prod-title">viad@tWMS</h4>
    <p>Полнофункциональная WMS-система для комплексных автоматических и традиционных складов</p>
</a>
<div class="product-description">
<h4>Полнофункциональная WMS-система для комплексных автоматических и традиционных складов.</h4>
<p>Полностью и частично автоматизированные склады и дистрибуционные центры ставят высокие требования к системе управления складом. Для обеспечения бесперебойной и слаженной работы без потерь времени все процессы будут рассчитаны заранее. При этом необходимо обеспечить определенный уровень гибкости для ввода и быстрой, надежной обработки срочных заказов — вне зависимости от различных видов комиссионирования, которые необходимы в логистическом центре. Эффективный пакет программного обеспечения viad@tWMS является полностью масштабируемым. Это касается как функций, так и производительности. Для каждого процесса используется наилучшая стратегия. Данные о заказах систем более высокого уровня сохраняются в базах данных. Ваш персонал сможет просматривать всю необходимую информацию в реальном времени.
</p>
<p>
    <b>Обслуживание и управление viad@tWMS точно адаптировано к рабочим процессам на складе.</b>
</p>
<p>
    Достаточно одного единственного сканирования или нажатия кнопки, чтобы включить следующие операции обработки. viad@t содержит все модули, необходимые для управления стеллажными штабелёрами, подъемно-транспортным оборудованием и другими механическими компонентами. Кроме того, он регулирует управление и визуализацию комплексных систем управления  вижением материалов.
</p>
<p>
    С помощью стандартизированных интерфейсов можно дополнительно подсоединить систему viad@tWMS к продуктам других компаний – таких, как, например, специальное экспедиторское, таможенное или отгрузочное программное обеспечение. Помимо этого система позволяет отслеживать партии в соответствии с директивой ЕС 178/2002.
</p>
<p>
    <b>viad@tWMS не зависит от операционных систем и работает на всех распространенных платформах UNIX и Windows. </b>
</p>
<p>
    Для хранения данных могут использоваться все ведущие системы, такие, как ORACLE, MS SQL Server или DB2.
    Современная архитектура клиент-сервер позволяет распределять управление приложениями и базами данных по различным компьютерам в сети. viad@t поддерживает несколько параллельных хост-систем, а также нескольких клиентов – с  полностью разделенными товарными запасами.

</p>
<h4 class="toggle-header">Функциональность WMS-решений</h4>
<div class="wrap-table">
<div class="table-legend">
    <span class="param-label"><i class="param-value check-param"></i>содержится в стандартной конфигурации</span>
    <span class="param-label"><i class="param-value no-param"></i>возможно расширение на этот функциональный модуль</span>
</div>
<table class="st-table table-params">
<tr>
    <th class="first-col-th"></th>
    <th>viad@tWMS</th>
    <th>viad@tONE</th>
    <th>viad@tCLM</th>
    <th>viad@tRFM</th>
</tr>
<tr>
    <td>Хост-интерфейс</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Статистика</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Системное руководство/управление пользователя</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Управление заказами</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Управление запасамис</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Диалог рабочего места</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Клиент</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Управление партиями</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Дата минимального срока годности</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Управление пополнением запасов</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Автоматический склад</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Радиоуправляемый склад</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Управляемый с помощью распечаток склад</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Pick-by-light/Pick-by-voice</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Система управления погрузчиками</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Упаковка/отгрузка</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Управление качеством</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Серийный номер</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Код даты</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Cross Docking</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Дополнительные услуги</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Возвраты</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Инвентаризация</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Интегрированное управление движением материалов (MFC)</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Визуализация</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Опасный груз</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Интегрированный дизайнер этикеток</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Оптимизация складирования/перемещения в складах для хранения на многократной глубине</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Многоязычность</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Оптимизация пути отбора</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
<tr>
    <td>Энергоуправление</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value no-param"></span></td>
</tr>
<tr>
    <td>Управление/реорганизация классов ABC</td>
    <td><span class="param-value check-param"></span> </td>
    <td><span class="param-value check-param"></span></td>
    <td><span class="param-value no-param"></span></td>
    <td><span class="param-value check-param"></span></td>
</tr>
</table>
</div>
</div><!--/product-description-->
</div><!--/product-->
<div class="product-links cf">
    <a class="product-pr prod-part">
        <h4 class="prod-title">viad@tONE</h4>
        <p>Предварительно сконфигурированная система для&nbsp;простых автоматизированных складов</p>

    </a>
    <a class="product-pr prod-part">
        <h4 class="prod-title">viad@tCLM</h4>
        <p>Управление автоматизированным участком склада при имеющейся WMS</p>

    </a>
    <a class="product-pr prod-part last">
        <h4 class="prod-title">viad@tRFM</h4>
        <p>Решение для радиоуправляемого склада, обслуживаемого вручную или погрузчиками</p>
    </a>
    <div class="clear"></div>
    <div class="product-description">
        <p>
            Предварительно сконфигурированный программный пакет включает в себя важнейшие и основные функции по управлению складом, управлению потоком материалов и визуализации оборудования. Этот пакет опирается на viad@tWMS, он доступен для расширений и может быть адаптирован к Вашим специфическим требованиям. Другие преимущества viad@tONE: незначительные начальные затраты и малые сроки внедрения проекта.
        </p>
        <h4>Объем функций</h4>
        <p>
            Загрузка на склад, управление складскими запасами, а также выгрузка со склада проходят без сбоев, чем и обеспечивается экономически эффективная работа. Поэтому viad@tONE содержит перечисленные базовые функции уже в стандартной версии. При этом оптимально используются мощность и производительность отдельных компонентов оборудования: хранение на многократную глубину, функции стеллажных штабелёров с несколькими грузозахватными приспособлениями.
        </p>
        <h4>Специальные функции</h4>
        <p>Помимо процессов загрузки и выгрузки viad@tONE предлагает возможности по управлению и оптимизации работы склада, среди которых: инвентаризация, учет разницы запасов, управление оборудованием, пользователями и системное администрирование . Пульт управления позволяет сотруднику всегда иметь точный обзор процессов обработки заказов. Все изменения складских запасов незамедлительно архивируются и могут быть обработаны с помощью диалогов статистики.</p>
        <h4>Опции</h4>
        <p>Интерфейсы к SAP и другим хост-системам, администрирование складов, управляемых при помощи распечаток и радио, управление партиями товара, клиентами, управление специальными клиентскими запасами и снабжением запасов представлены в качестве готовых вариантов выбора</p>
        <ul>
            <li>не требуется дополнительная система управления движением материалов</li>
            <li>низкие расходы</li>
            <li>быстрый ввод в эксплуатацию</li>
            <li>беспроблемное расширение</li>
        </ul>
    </div><!--/product-description-->
    <div class="product-description">
        <p>Если в Ваш существующий логистический центр интегрируется автоматический складской участок, это может вызвать сложности с использованием существующей системы управления складом. Большая часть унаследованных систем не обладает функцией «автоматический склад».</p>
        <p>Мы предлагаем решение viad@tCLM («Container Location Management» — управление расположением контейнеров). Платформа присоединена к существующей системе управления складом или ERP и концентрируется на распределении и управлении складскими местами, а также на стратегии движения единиц хранения на автоматическом участке логистического центра. Загрузка на склад осуществляется через автоматический пункт идентификации, оборудованный сканером и устройством для измерения характеристик профиля.</p>
        <p>Управление отдельными запасами и резервирование на единицах хранения, а также пользовательский интерфейс рабочего места для учета запасов, комиссионирования и т. п. отражаются с помощью системы ERP или уже использующейся системы управления складом. Компактное решение подходит, в частности, для автоматических буферных складов или сортировщиков, у которых наиболее критичными показателями выступают простота и быстрота загрузки / выгрузки со склада полностью укомплектованной тары.</p>
    </div><!--/product-description-->
    <div class="product-description">
        <p>viad@tRFM является эффективным, предварительно сконфигурированным стандартным программным обеспечением для Вашего радиоуправляемого склада или логистического центра, обслуживаемого вручную или погрузчиками.</p>
        <p>Программный пакет можно легко расширить до полного объема viad@t. Если Вы хотите автоматизировать Ваш склад или отдельные его участки, соответствующие функциональные модули можно активировать в любое время. viad@tRFM также подходит для комбинации различных типов склада, включая проходной, блочный, краткосрочный, консольные полки, полки с ячейками, многоэтажный склад или склад с погрузчиками.</p>
        <h4>Ваши преимущества</h4>
        <ul>
            <li>Моделирование прохождения заказа/планирование использования персонала</li>
            <li>Конфигурация с помощью диалогов данных по оборудованию складских помещений.</li>
            <li>Конфигурация с помощью диалогов системы управления погрузчиками</li>
            <li>Расчет сдельной оплаты</li>
            <li>Определение стандартного времени выполнения складских работ /расширенная статистика</li>
            <li>Контроль времени комиссионирования и т. п.</li>
            <li>Возможность применения для нескольких складов</li>
            <li>Все функциональные возможности Cross-Docking</li>
        </ul>
    </div><!--/product-description-->
</div><!--/product-links-->
</div><!--/product-line-->

<div class="product-line cf">
    <h3 class="simple-h3">Специализированные логистические решения</h3>
    <div class="product-links cf">
        <a class="product-pr product-single product-mfc">
            <span class="prod-icon"></span>
            <h4 class="prod-title">viad@tMFC</h4>
            <p>Интеллектуальная система управления материальными потоками</p>

        </a>
        <a class="product-pr product-single product-visu">
            <span class="prod-icon"></span>
            <h4 class="prod-title">viad@tVISU</h4>
            <p>Генерирует обширную статистическую сводку системы распознавание и устранение ошибок</p>
        </a>
        <a class="product-pr product-single product-ccs last">
            <span class="prod-icon"></span>
            <h4 class="prod-title">viad@tCCS</h4>
            <p>Эффективное управление <nobr>подъемно-транспортным</nobr> оборудованием</p>
        </a>
        <div class="clear"></div>
        <div class="product-description">
           <p>
               Система управления потоком материала viad@tMFC обеспечивает оптимальное управление движением материалов в рамках всей установки. Отображается актуальное и содержательное состояние всей установки. Заданиями, касающимися потока материала, занимается система управления и диалоговая интерактивная система. Доступ к базе данных viad@tMFC соотносится с пользователями. Дополнительно встроены интерфейсы ко всем подсистемам потока материала, например, к автоматизированным складским системам.
           </p>
            <h4 >Стратегии управления</h4>
            <ul>
                <li>Снабжение рабочих мест и утилизация отходов во избежание времени простоя</li>
                <li>Распределение работы во избежание перегрузки</li>
            </ul>
            <h4>При неисправности установки</h4>
            <ul>
                <li>Стратегии разъездов |выбор новых маршрутов| при сбое компонентов</li>
                <li>Опережающие стратегии управления с целью избегания несимметричной нагрузки на отдельных участках установки</li>
            </ul>
            <h4>Отслеживание уровня на позиции</h4>
            <ul>
                <li>Место единицы груза и загрузка всех путей транспортного оборудования, в том числе места штабелеров известны в viad@tMFC в любой момент времени</li>
            </ul>
        </div><!--/product-description-->
        <div class="product-description">
            <p>Наша система диагностики предоставляет полный обзор логистической установки и позволяет осуществлять быстрое распознавание и устранение ошибок. Это позволяет значительно сократить время простоя. Также viad@tVISU генерирует обширную статистическую сводку системы распознавание и устранение ошибок.</p>
            <p>Это позволяет значительно сократить время простоя. Также viad@tVISU генерирует обширную статистическую сводку системы.</p>
            <p>Обзор установки доступен как в общем виде, так и в подробном изображении. Его можно плавно масштабировать, перемещать как угодно без границ диапазона.</p>
        </div><!--/product-description-->
        <div class="product-description">
           <p>viad@tCCS – это дифференцированный, модульно расширяемый принцип управления, адаптируемый к размеру вашей установки. Все приводы и датчики соединены посредством системы шин с управлением.</p>
           <ul>
               <li>Эффективная система управления в промышленности</li>
               <li>Децентрализованное управление сенсорами и приводами</li>
           </ul>
           <h4>Задачи управления транспортно-подъемным оборудованием</h4>
            <p>
                Система viad@tCCS позволяет управлять всеми перемещениями товара с помощью конвейерного оборудования. В содействии с системой управления потоком материала груз отслеживается по назначению. Система управления подъемно-транспортным оборудованием контролирует векторные положения и обеспечивает позиционирование развозных тележек и вертикальных конвейеров. Все приводы и движения перемещения, а также системы и компоненты Bus контролируются при помощи viad@tCCS. При возникновении ошибки выполняется детальная ее оценка.
            </p>
        </div><!--/product-description-->
    </div><!--/product-links-->
</div><!--/product-line-->

<div class="product-line cf">
    <h3 class="simple-h3">SAP Logistics Solutions</h3>
    <div class="product">
        <a class="product-pr product-sap prod-wide">
            <span class="prod-icon"></span>
            <h4 class="prod-title">SAP Logistics Solutions</h4>
            <p>Система управления цепочками поставок от SAP (SCM). Комплексное решение для построения логистических сетей с добавленной
                стоимостью, в которых все Ваши клиенты, поставщики, производители и поставщики услуг интегрируются в один информационный поток. </p>

        </a>
        <div class="product-description">
            <p>
                При этом работа программных модулей с такими процессами, как оформление заказов, складское хранение и транспортировка, построена на единой технологической платформе. Используя наш продукт Вы сможете объединить процессы закупок, товаропотоки, поставки и многие другие технологии.
            </p>
            <p>Получите пользу благодаря нашей высокой компетентности в области складских процессов и материальных потоков:</p>
            <ul>
                <li>уменьшение затрат на логистику за счет сокращения запасов и улучшенного использования ресурсов во всей сети</li>
                <li>упрощение сложных процессов за счет увеличения их прозрачности, эффективного сотрудничества и точного соблюдения стандартов</li>
                <li>увеличение уровня удовлетворенности клиентов за счет доступности нужных продуктов в нужное время в нужном месте</li>
            </ul>
        </div><!--/product-description-->
    </div><!--/product-->
</div><!--/product-line-->