<div class="contacts cf">
    <div class="container">
        <h2 class="title-f">Контактная информация<span class="line"></span></h2>
        <div class="contact-col">
            <h3 class="simple-h3">Москва</h3>
            <p>105082 Россия, Москва, <br>ул. Фридриха Энгельса, д.75 к.20<br>Телефон: +7 (495) 668-0867<br><a class="cont-link" href="mailto:sales@firstlinesoftware.com">sales@firstlinesoftware.com</a></p>
        </div>
        <div class="contact-col">
            <h3 class="simple-h3">Санкт-Петербург</h3>
            <p>197101, Россия, г. Санкт-Петербург, <br>ул. Рентгена, 5А<br>Телефон: +7 (812) 336-5533<br><a class="cont-link" href="mailto:sales@firstlinesoftware.com">sales@firstlinesoftware.com</a></p>
        </div>
        <div class="feedback-form">
            <h3 class="simple-h3">Напишите нам</h3>
            <div class="feedback-form-cont"><form action="#">
                <input type="text" name="name" class="form-field" placeholder="Как вас зовут" />
                <input type="email" name="mail" class="form-field" placeholder="E-mail" />
                <textarea name="msg" class="text-field" placeholder="Ваше сообщение"></textarea>
                <input id="sendMail" type="button" class="btn" value="Отправить" name="submit_msg" />
            </form></div>
        </div><!--/feedback-->
    </div>
</div>
