<div class="container"><h1 class="title-f">Продукты<span class="line"></span></h1></div>
<div class="product-items">
    <div class="container services-container">
        <div class="product-line cf">
            <div class="product-links cf">
                <a class="product-pr product-single product-mfc">
                    <span class="prod-icon"></span>
                    <h4 class="prod-title">Новые установки</h4>
                    <p>Сооружаем Ваш склад и центр логистики "под ключ"</p>

                </a>
                <a class="product-pr product-single product-visu">
                    <span class="prod-icon"></span>
                    <h4 class="prod-title">Модернизация</h4>
                    <p>Оптимизируем ваш склад, автоматические слеллажные штабелеры и систему управления складом.</p>
                </a>
                <a class="product-pr product-single product-ccs last">
                    <span class="prod-icon"></span>
                    <h4 class="prod-title">Консультирование и проектирование</h4>
                    <p>Разрабатываем инновационную концепцию внутренней логистики.</p>
                </a>
                <div class="clear"></div>
                <div class="product-description">
                    <h4>Новые установки</h4>
                </div><!--/product-description-->
                <div class="product-description">
                </div><!--/product-description-->
                <div class="product-description">
                </div><!--/product-description-->
            </div><!--/product-links-->
        </div><!--/product-line-->
    </div>
</div>