<ul class="add-nav">
{{#each navigation}}
    <li><a href="#" class="add-nav-item {{classIcon}}"><span class="nav-tip"><span>{{value}}</span><i></i></span></a></li>
{{/each}}
</ul>
<a href="#" class="add-nav-arrow move-top ">Вверх</a>
<a href="#" class="add-nav-arrow move-bottom">Вниз</a>
