{{#each sections}}
<div class="project-item">
    <div class="container">
        <h3 class="project-it-name">{{title}}</h3>
        <div class="slide-box">
            <div class="slides-all">

            </div>
        </div><!--/slide-box-->
        <a class="slide-arrow prev"  title="{{titleArrowLeft}}"></a>
        <a class="slide-arrow next"  title="{{titleArrowRight}}"></a>
    </div>
</div><!--/project-item-->
{{/each}}