{{#each sections}}
<div class="project-item first-slide">
    <div class="container">
        <h3 class="project-it-name">{{title}}</h3>
        <div class="slide-box">
            <div class="slides-all">
                <div class="slide-cont cf" id="block1">
                    <div class="project-it-img">
                        <img src="resources/images/upload/pr-sberbank.jpg" alt="Архив Сбербанка" />
                        <div class="project-it-logo"><img src="resources/images/logo-sberbank.png" alt="Сбербанк" /></div>
                    </div>
                    <div class="project-it-text"><p>Создании единого Архивно-логистического центра по хранению и обработке банковской документации.</p>
                        <ul class="project-list">
                            <li class="pr-ic-robot"><span>склад-автомат </span></li>
                            <li class="pr-ic-archive"><span>более 2 млн.коробов с документами</span></li>
                            <li class="pr-ic-oxygen"><span>зона хранения с пониженным содержанием кислорода</span></li>
                        </ul></div>
                </div>
                <div class="slide-cont cf" id="block2">
                    <div class="info-box">
                        <img class="large" src="resources/images/upload/sber-large.png" alt="Параметры логистической системы" />
                        <img class="small" src="resources/images/upload/sber-small.png" alt="Параметры логистической системы" />
                        <a href="#" class="slide-btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div><!--/slide-box-->
        <a class="slide-arrow prev"  title="Краткое описание"></a>
        <a class="slide-arrow next"  title="Результаты внедрения"></a>
    </div>
</div><!--/project-item-->
{{/each}}