<div class="container"><h1 class="title-f">Контактная информация<span class="line"></span></h1></div>
<div class="product-items">
    <div class="container services-container">
        <div class="product-line cf">
            <div class="product-links cf">
                <a class="product-pr product-single product-mfc">
                    <h4 class="prod-title contacts-title">Москва</h4>

                </a>
                <a class="product-pr product-single product-visu active last">
                    <h4 class="prod-title contacts-title">Санкт-Петербург</h4>
                </a>
                <div class="clear"></div>
                <div class="product-description">
                    <p>105082 Россия, Москва, ул. Фридриха Энгельса, д.75 к.20<br>Телефон: +7 (495) 668-0867<br><a class="cont-link" href="mailto:sales@firstlinesoftware.com">sales@firstlinesoftware.com</a></p>
                    <div id="map"></div>
                </div><!--/product-description-->
                <div class="product-description" style="display:block;">
                    <p>197101, Россия, г. Санкт-Петербург, ул. Рентгена, 5А<br>Телефон: +7 (812) 336-5533<br><a class="cont-link" href="mailto:sales@firstlinesoftware.com">sales@firstlinesoftware.com</a></p>
                    <div id="map2"></div>
                </div><!--/product-description-->
            </div><!--/product-links-->
        </div><!--/product-line-->
    </div>
    <div class="container"><h1 class="title-f">Напишите нам<span class="line"></span></h1></div>
    <div class="container">
        <div class="feedback-form">
            <h3 class="simple-h3">Напишите нам</h3>
            <div class="feedback-form-cont"><form action="#">
                <input type="text" name="name" class="form-field" placeholder="Как вас зовут" />
                <input type="email" name="mail" class="form-field" placeholder="E-mail" />
                <textarea name="msg" class="text-field" placeholder="Ваше сообщение"></textarea>
                <input id="sendMail" type="button" class="btn" value="Отправить" name="submit_msg" />
            </form></div>
        </div>
    </div>
</div>
