{{> solutions/head }}
<div class="solutions-items">

</div>
    <!--<div class="item">-->
        <!--<div class="container">-->
            <!--<h2 class="project-it-name">Автомобильная техника и коммерческий транспорт</h2>-->
            <!--<div class="content-box cf">-->
                <!--<div class="left-col">-->
                    <!--<div class="left-img-box">-->
                        <!--<img src="resources/images/upload/img_001.jpg" alt="Автомобильная техника и коммерческий тран спорт" />-->
                    <!--</div>-->
                    <!--<div class="left-img-box">-->
                        <!--<img src="resources/images/upload/img_002.jpg" alt="Автомобильная техника и коммерческий транспорт" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="main-col">-->
                    <!--<p>Буферные склады для продукции, снабжение участков монтажа, склады инструментов или сбыт запасных частей: к&nbsp;внутренней логистике производителей автомобильной техники и&nbsp;коммерческого автотранспорта, а&nbsp;также поставщиков предъявляются четкие требования:</p>-->
                    <!--<ul>-->
                        <!--<li>Интеграция различных производственных методов</li>-->
                        <!--<li>Философия полного отсутствия ошибок</li>-->
                        <!--<li>Комплексные структуры</li>-->
                    <!--</ul>-->
                    <!--<p>Наши системы внутренней логистики завоевали доверие многих известных производителей и&nbsp;поставщиков&nbsp;&mdash; они также полностью удовлетворят Вашим требованиям. Все это подтверждается сертификатами и&nbsp;гарантийными обязательствами.</p>-->
                    <!--<p>Также и&nbsp;в&nbsp;программном обеспечении: от&nbsp;ПЛК и&nbsp;до&nbsp;ERP ваша система полностью интегрирована в&nbsp;ваши процессы. Являясь поставщиками, заслужившими доверие в&nbsp;поставке системы управления складом viad@t и&nbsp;партнером SAP уже на&nbsp;протяжении 20&nbsp;лет, мы&nbsp;понимаем, что Вам необходимо.</p>-->
                <!--</div>-->
                <!--<div class="links-box cf">-->
                    <!--<h3 class="simple-h3">Внедрения:</h3>-->
                    <!--<div class="links-col">-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_fr/new_installations_case_studies/viastore_FR_EtudesCas81_Magasin_Grande_Hauteur_Antolin_Cambrai.pdf">Antolin</a>-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/new_installations_case_studies/viastore_EN_CaseStudy14_Distribution_Center_BASF_Coatings.pdf">BASF</a>-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/customers_magazine/viastore_EN_intralogistik_news_2008_3.pdf">Claas</a>-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/customers_magazine/viastore_EN_intralogistik_news_2009_1.pdf">Freightliner</a>-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_us/new_installations_case_studies/viastore_US_CaseStudy85_Global_Engine_Manufacturing_Association_GEMA.pdf">Global Ebgine</a>-->
                    <!--</div>-->
                    <!--<div class="links-col">-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/modernization_case_studies/viastore_EN_CaseStudy44_Component_Warehouse_HANSA-FLEX_Hydraulik.pdf">HANSA-FLEX</a>-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/customers_magazine/viastore_EN_intralogistik_news_2008_3.pdf">John Deere</a>-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/new_installations_case_studies/viastore_EN_CaseStudy26_Assembly_Warehouse_Mekra_Lang.pdf">Mekra Lang</a>-->
                        <!--<a href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/modernization_case_studies/viastore_EN_CaseStudy47_Assembly_Warehouse_RECARO.pdf">RECARO</a>-->
                    <!--</div>-->
                    <!--<div class="links-col">-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/modernization_case_studies/viastore_EN_CaseStudy95_production_warehouse_Robert_Bosch.pdf">Robert Bosch</a>-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_ru/new_installations_case_studies/viastore_RU_CaseStudy39_Logistics_Center_Rostselmash_2013.pdf">Россельмаш</a>-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/new_installations_case_studies/viastore_EN_CaseStudy60_Logistics_Center_SBS_Deutschland.pdf">SBS Deutschland</a>-->
                        <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/new_installations_case_studies/viastore_EN_CaseStudy74_Automatic_high_bay_warehouse_Vogler.pdf">Vogler</a>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;/links-box&ndash;&gt;-->
            <!--</div>&lt;!&ndash;/content-box&ndash;&gt;-->
        <!--</div>-->
    <!--</div>&lt;!&ndash;/item&ndash;&gt;-->

<!--<div class="item">-->
    <!--<div class="container">-->
        <!--<h2 class="project-it-name">Строительство</h2>-->
        <!--<div class="content-box cf">-->
            <!--<div class="left-col">-->
                <!--<div class="left-img-box">-->
                    <!--<img src="resources/images/upload/img_001.jpg" alt="Автомобильная техника и коммерческий тран-->
                    <!--спорт" /></div>-->
                <!--<div class="left-img-box">-->
                    <!--<img src="resources/images/upload/img_002.jpg" alt="Автомобильная техника и коммерческий транспорт" />-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="main-col">-->
                <!--<p>Отрасль производства строительных материалов и&nbsp;конструкций имеет свои законы:</p>-->
                <!--<ul>-->
                    <!--<li>Взаимозаменяемые товары</li>-->
                    <!--<li>Сезонные колебания</li>-->
                    <!--<li>Учет специфических свойств продукции, например, минимального срока хранения</li>-->
                    <!--<li>Краткосрочные спрос и заказы на отзыв товара</li>-->
                    <!--<li>Адресная поставка</li>-->
                    <!--<li>Высочайшее качество доставки</li>-->
                <!--</ul>-->
                <!--<p>Ваша внутренняя логистика и&nbsp;система управления складом обеспечивают при этом вам поддержку. Получите преимущество, используя наш опыт.</p>-->
            <!--</div>-->
            <!--<div class="links-box cf">-->
                <!--<h3 class="simple-h3">Внедрения:</h3>-->
                <!--<div class="links-col">-->
                    <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/new_installations_case_studies/viastore_EN_CaseStudy22_Distribution_Warehouse_Albrecht_Jung.pdf">Jung</a>-->
                    <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/new_installations_case_studies/viastore_EN_CaseStudy14_Distribution_Center_BASF_Coatings.pdf"> BASF</a>-->
                    <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/customers_magazine/viastore_EN_intralogistik_news_2011_2.pdf"> Conmetall</a>-->
                <!--</div>-->
                <!--<div class="links-col">-->
                    <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/modernization_case_studies/viastore_EN_CaseStudy43_Logistics_Center_DORMA.pdf"> Dorma</a>-->
                    <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/new_installations_case_studies/viastore_EN_CaseStudy20_Distribution_Center_Fritz_Frieling.pdf"> Frieking</a>-->
                    <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/new_installations_case_studies/viastore_EN_CaseStudy72_Automatic_pallet_warehouse_Keimfarben.pdf"> Keimfarben</a>-->
                <!--</div>-->
                <!--<div class="links-col">-->
                    <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/new_installations_case_studies/viastore_EN_CaseStudy28_Finished_Goods_Warehouse_RIDI_Leuchten.pdf"> RIDI-Leuchten</a>-->
                    <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/customers_magazine/viastore_EN_intralogistik_news_2010_1.pdf"> Sto </a>-->
                    <!--<a target="_blank" href="http://www.viastore.ru/fileadmin/Mediendatenbank/downloads_com/modernization_case_studies/viastore_EN_CaseStudy35_Central_Logistics_Center_Viega.pdf">Viega</a>-->
                <!--</div>-->
            <!--</div>&lt;!&ndash;/links-box&ndash;&gt;-->
        <!--</div>&lt;!&ndash;/content-box&ndash;&gt;-->
    <!--</div>-->
<!--</div>&lt;!&ndash;/item&ndash;&gt;-->
