{{#each sections}}
<div class="item">
    <div class="container">
        <h2 class="project-it-name">{{title}}</h2>
        <div class="content-box cf">

        </div><!--/content-box-->
    </div>
</div>
{{/each}}
