<div class="project-item first-slide" id="container">
    <div class="container">
        <h3 class="project-it-name">Архив Сбербанка</h3>
        <div class="slide-box">
            <div class="slide-cont cf" id="block1">
                <div class="project-it-img">
                    <img src="resources/images/upload/pr-sberbank.jpg" alt="Архив Сбербанка" />
                    <div class="project-it-logo"><img src="resources/images/logo-sberbank.png" alt="Сбербанк" /></div>
                </div>
                <div class="project-it-text"><p>Создании единого Архивно-логистического центра по хранению и обработке банковской документации.</p>
                    <ul class="project-list">
                        <li class="pr-ic-robot"><span>склад-автомат </span></li>
                        <li class="pr-ic-archive"><span>более 2 млн.коробов с документами</span></li>
                        <li class="pr-ic-oxygen"><span>зона хранения с пониженным содержанием кислорода</span></li>
                    </ul></div>
            </div>

            <div class="slide-cont cf" style="display:none" id="block2">
                <div class="info-box"><img src="resources/images/upload/info-sber.png" alt="Параметры логистической системы" /></div>
            </div>
        </div><!--/slide-box-->
        <a class="slide-arrow prev" onClick="clickPrev();" title="Краткое описание"></a>
        <a class="slide-arrow next" onClick="clickNext();" title="Результаты внедрения"></a>
    </div>
</div><!--/project-item-->

<div class="project-item first-slide">
    <div class="container">
        <h3 class="project-it-name">Склад запасных частей Ростельмаш</h3>
        <div class="slide-box">
            <div class="slide-cont cf">
                <div class="project-it-img">
                    <img src="resources/images/upload/pr-rostselmash.jpg" alt="Склад запасных частей Ростельмаш" />
                    <div class="project-it-logo"><img src="resources/images/logo-rostselmash.png" alt="Ростсельмаш" /></div>
                </div>
                <div class="project-it-text"><p>Ростсельмаш предпринял комплексную реструктуризацию всей логистики запасных деталей.</p>
                    <ul class="project-list">
                        <li class="pr-ic-warehouse"><span>крупнейший в России склад  зап.частей для сельскохозяйственных машин</span></li>
                        <li class="pr-ic-triangle"><span>уникальная оптимизация хранения на консольных стеллажах: точность размещения до 1см</span></li>
                    </ul></div>
            </div>
        </div><!--/slide-box-->
        <a class="slide-arrow prev" title="Краткое описание"></a>
        <a class="slide-arrow next" title="Результаты внедрения"></a>
    </div>
</div><!--/project-item-->

<div class="project-item first-slide">
    <div class="container">
        <h3 class="project-it-name">Crocus International</h3>
        <div class="slide-box">
            <div class="slide-cont cf">
                <div class="project-it-img">
                    <img src="resources/images/upload/pr-crocus.jpg" alt="Crocus International" />
                    <div class="project-it-logo"><img src="resources/images/logo-rocus.png" alt="Crocus International" /></div>
                </div>
                <div class="project-it-text"><p>Расширение склада и автоматизация складских процессов. Был сооружен 5-проходный автоматический высокостеллажный склад по принципу элеваторной конструкции.</p>
                    <ul class="project-list">
                        <li class="pr-ic-robot"><span>склад-автомат </span></li>
                        <li class="pr-ic-rule"><span>самый высокий склад автоматизированного хранения в вост.европе - 43м</span></li>
                    </ul></div>
            </div>
        </div><!--/slide-box-->
        <a class="slide-arrow prev" title="Краткое описание"></a>
        <a class="slide-arrow next" title="Результаты внедрения"></a>
    </div>
</div><!--/project-item-->

<div class="project-item project-item-last first-slide">
    <div class="container">
        <h3 class="project-it-name">Мироновский хлебопродукт</h3>
        <div class="slide-box">
            <div class="slide-cont cf">
            <div class="project-it-img">
                <img src="resources/images/upload/pr-miro.jpg" alt="Мироновский хлебопродукт" />
                <div class="project-it-logo"><img src="resources/images/logo-mironovskij.png" alt="Мироновский хлебопродукт" /></div>
            </div>
            <div class="project-it-text"><p>В зоне хранения специалистами First Line Software создан самый большой в Европе и Азии склад холодного хранения.   Это первый склад в Украине, где работают только роботы.</p>
                <ul class="project-list">
                    <li class="pr-ic-robot"><span>склад-автомат </span></li>
                    <li class="pr-ic-warehouse"><span>крупнейший в Вост.Европе склад-холодильник для хранения замороженных мясопродуктов</span></li>
                </ul></div>
        </div>
        </div><!--/slide-box-->
        <a class="slide-arrow prev" title="Краткое описание"></a>
        <a class="slide-arrow next" title="Результаты внедрения"></a>
    </div>
</div>