<div class="project-item first-slide">
    <div class="container">
        <h3 class="project-it-name">Архив Сбербанка</h3>
        <div class="slide-cont cf">
            <div class="project-it-img">
                <img src="resources/images/upload/pr-sberbank.jpg" alt="Архив Сбербанка" />
                <div class="project-it-logo"><img src="resources/images/logo-sberbank.png" alt="Сбербанк" /></div>
            </div>
            <div class="project-it-text"><p>Создании единого Архивно-логистического центра по хранению и обработке банковской документации.</p>
                <ul class="project-list">
                    <li class="pr-ic-robot"><span>склад-автомат </span></li>
                    <li class="pr-ic-archive"><span>более 2 млн.коробов с документами</span></li>
                    <li class="pr-ic-oxygen"><span>зона хранения с пониженным содержанием кислорода</span></li>
                </ul></div>
        </div>
        <a class="slide-arrow prev" title="Краткое описание"></a>
        <a class="slide-arrow next" title="Результаты внедрения"></a>
    </div>
</div><!--/project-item-->

<div class="project-item first-slide">
    <div class="container">
        <h3 class="project-it-name">Склад запасных частей Ростельмаш</h3>
        <div class="slide-cont cf">
            <div class="project-it-img">
                <img src="resources/images/upload/pr-rostselmash.jpg" alt="Склад запасных частей Ростельмаш" />
                <div class="project-it-logo"><img src="resources/images/logo-rostselmash.png" alt="Ростсельмаш" /></div>
            </div>
            <div class="project-it-text"><p>Ростсельмаш предпринял комплексную реструктуризацию всей логистики запасных деталей.</p>
                <ul class="project-list">
                    <li class="pr-ic-warehouse"><span>крупнейший в России склад  зап.частей для сельскохозяйственных машин</span></li>
                    <li class="pr-ic-triangle"><span>уникальная оптимизация хранения на консольных стеллажах: точность размещения до 1см</span></li>
                </ul></div>
        </div>
        <a class="slide-arrow prev" title="Краткое описание"></a>
        <a class="slide-arrow next" title="Результаты внедрения"></a>
    </div>
</div><!--/project-item-->

<div class="project-item first-slide">
    <div class="container">
        <h3 class="project-it-name">Crocus International</h3>
        <div class="slide-cont cf">
            <div class="project-it-img">
                <img src="resources/images/upload/pr-sberbank.jpg" alt="Crocus International" />
                <div class="project-it-logo"><img src="resources/images/logo-rocus.png" alt="Crocus International" /></div>
            </div>
            <div class="project-it-text"><p>Создании единого Архивно-логистического центра по хранению и обработке банковской документации.</p>
                <ul>
                    <li>Процес работы с архивом полностью автоматизирован</li>
                    <li>Специальная атмосфера с пониженным содержанием кислорода позволяет защитить склад от пожаров, грызунов и насекомых</li>
                    <li>Снижение расходов на хранение и&nbsp;обработку архивных данных</li>
                </ul></div>
        </div>
        <a class="slide-arrow prev" title="Краткое описание"></a>
        <a class="slide-arrow next" title="Результаты внедрения"></a>
    </div>
</div><!--/project-item-->

<div class="project-item first-slide">
    <div class="container">
        <h3 class="project-it-name">Мироновский хлебопродукт</h3>
        <div class="slide-cont cf">
            <div class="project-it-img">
                <img src="resources/images/upload/pr-sberbank.jpg" alt="Мироновский хлебопродукт" />
                <div class="project-it-logo"><img src="resources/images/logo-mironovskij.png" alt="Мироновский хлебопродукт" /></div>
            </div>
            <div class="project-it-text"><p>Создании единого Архивно-логистического центра по хранению и обработке банковской документации.</p>
                <ul>
                    <li>Процес работы с архивом полностью автоматизирован</li>
                    <li>Специальная атмосфера с пониженным содержанием кислорода позволяет защитить склад от пожаров, грызунов и насекомых</li>
                    <li>Снижение расходов на хранение и&nbsp;обработку архивных данных</li>
                </ul></div>
        </div>
        <a class="slide-arrow prev" title="Краткое описание"></a>
        <a class="slide-arrow next" title="Результаты внедрения"></a>
    </div>
</div>