{{#each sections}}
<div class="project-item first-slide" data-id="{{num}}">
    <div class="container">
        <h3 class="project-it-name">{{title}}</h3>
        <div class="slide-box">
            <div class="slides-all">

            </div>
        </div><!--/slide-box-->
        <a class="slide-arrow prev"  title="Краткое описание"></a>
        <a class="slide-arrow next"  title="Результаты внедрения"></a>
    </div>
</div><!--/project-item-->
{{/each}}