.navigation {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 20px;
}

.navigation a {
    padding: 10px 20px;
    font-family: sans-serif;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #830000;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid #AFD1FD;
}

.navigation a.active{
    opacity: 0.3;
    cursor: default;
}

.navigation a:hover{
    background-color: #5D0C0C;
}

