.main-content.contacts-page{

}

.contacts-page .container {
    min-width: 946px;
    max-width: 1095px;
    margin: 0 auto;
    padding: 0 20px;
}

.contacts-page .product-pr.product-single {
    width: 455px;
}

.contacts-page .product-pr.product-single {
    height: 30px;
    float: left;
    text-align: center;
    margin-right: 60px;
}

.contacts-page .product-pr.active::after {
    content: '';
    position: absolute;
    left: 247px;
    bottom: 0px;
    border: 12px solid transparent;
    border-bottom: 12px solid #FFFFFF;
}
.prod-title.contacts-title {
    color: #999999;
}
#map, #map2{
    width: 100%;
    height: 400px;
}
.contacts-page .feedback-form-cont {
    width: 100%;
    margin-bottom: 150px;
}
.contacts-page .feedback-form .form-field {
    height: 30px;
    width: 513px;
    padding: 6px 10px;
    margin: 0 10px 25px 0;
    line-height: 30px;
    font-size: 20px;
}

.contacts-page .feedback-form .text-field {
    height: 100px;
    width: 97%;
    padding: 4px 10px 0;
    margin: 0 10px 25px 0;
    line-height: 30px;
    font-size: 20px;
}

.contacts-page .feedback-form {
    padding: 0;
    clear: both;
}
.contacts-page .feedback-form .btn {
    float:none;
    position: relative;
    right: -862px;
    padding: 0 50px;
}
