<nav id="nav">
    <div class="navigation-top">
        <ul id="menuNav">
            {{#each nav}}
            <li><a href="{{url}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </div>
</nav>