<div class="navigation-top">
    <ul>
        <li><a href="#constructor">Constructor</a></li>
        <li><a href="#fileManager">File manager</a></li>
        <li><a href="#settings">Account settings</a></li>
        <li><a href="#statistics">Charts and statistics</a></li>
    </ul>
</div>