<div class="account-settings">
    <div class="left">
        <div class="avatar-upload">

        </div>
        <div class="account-settings-menu">
            <ul id="menuTabsAccount">
                <li data-id-tab="profile">Profile</li>
                <li data-id-tab="change">Change password</li>
                <li data-id-tab="history">History</li>
                <li data-id-tab="projects">Projects</li>
            </ul>
        </div>
    </div>
    <div id="tabsAccount" class="right">

    </div>
</div>