<div class="profile">
    <div class="avatar-wrapper">
        <div class="avatar-upload init-avatar">
            {{#if tmpl.avatarId }}
            <img id="{{tmpl.avatarIdProfile}}" src="{{tmpl.avatarUrl}}"/>
            {{else}}
            <img id="{{tmpl.avatarIdProfile}}" src="{{tmpl.defaultProfilePhoto}}"/>
            {{/if}}
        </div>
        <div class="edit-profile">
            <a href="#">Edit profile</a>
        </div>
    </div>
    <div class="data-profile">
        <p><h2 class="write" data-type="text" data-id="name">{{tmpl.firstName}} {{tmpl.lastName}}</h2></p>
        <p>Works at <span class="write" data-type="text" data-id="organization">{{tmpl.organization}}</span></p>
        <p>Lives in <span class="write" data-type="text" data-id="location">{{tmpl.location}}</span></p>
        <ul>
            <li>
                <p>Phone:<span class="write" data-type="text" data-format="phone" data-id="phone">{{tmpl.phone}}</span></p>
            </li>
            <li>
                <p>Skype:<span class="write" data-type="text" data-id="skype">{{tmpl.skype}}</span></p>
            </li>
            <li>
                <p>Email(public):<span class="write" data-type="text" data-format="email" data-id="publicEmail">{{tmpl.publicEmail}}</span></p>
            </li>

        </ul>
    </div>

</div>